@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.resizer {
    display: inline-block;
    background:'';
    width:5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
}

.ce-block__content {
    max-width: 850px;
}

.ce-toolbar__content {
    max-width: 850px;
}

/*.prose {*/
/*    max-width: unset;*/
/*}*/
[type="text"]:focus{
  outline-offset: 0px;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.codex-editor__redactor {
    padding-bottom:0 !important;
}
